html,
body {
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	background-color: #191919;
}

#threeLineIcon {
	display: none;
}

.navi {
	background-color: #191919;
	background-size: cover;
	height: 55px;

}

.navi ul {
	list-style: none;
	text-align: right;
	height: 55px;
	/*******************************************************************************************************/
	animation-name: movimentoNavi;
	animation-duration: 2s;
}

.navi li {
	font-family: 'Orbitron', sans-serif;
	font-size: 13px;
	height: 55px;
	line-height: 55px;
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 0px 20px;
}

.navi a {
	text-decoration: none;
	color: #ffffff4f;
}

.navi a:hover {
	color: #191919;
	text-shadow: 2px 2px 2px #5af88a;
	border-radius: 5px;
	transition: 0.2s;
}

.conteudo {
	margin: 100px 0px 0px 0px;
}

.imagemcapa {
	text-align: right;

	display: inline-block;
	width: 40%;
	padding: 0px 50px 0px 20px;
	margin: 0px;

}

.imagemcapa img {
	width: 400px;
	border-radius: 100%;
	margin-left: 0px;
	/*******************************************************************************************************/
	animation-name: movimentoCapa;
	animation-duration: 2s;
}

.titulocapa {

	display: inline-block;
	color: white;
	vertical-align: bottom;
	width: 50%;
	margin: 0px 0px 78px 0px;
	/*******************************************************************************************************/
	animation-name: movimentoTitulo;
	animation-duration: 2s;
}

.titulocapa span {
	color: #5af88a;
	display: block;
	margin: 0px;
	padding: 0px;
}

.titulocapa h1 {
	font-family: 'Krona One', sans-serif;
	text-transform: uppercase;
	text-align: left;
	font-size: 50px;
}

.titulocapa h2 {
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
	text-align: left;
}

/*******************************************************************/
/*******************************************************************/
/*******************************************************************/

.quadro {
	text-align: center;
	background-color: #ffffff00;
	width: 800px;
	margin: 0 auto;

	/*****************************************************************************************************/
	animation-name: movimentoCorpoD-E;
	animation-duration: 1s;
}

/*******************************************************************/
/*******************************************************************/
/*******************************************************************/

.tituloCorpo {
	margin: 140px 0px 70px 0px;
	font-size: 25px;
	color: #5af88a;
	text-shadow: 1.1px 2.1px 5.5px black;
	font-family: 'Orbitron', sans-serif;
	text-transform: uppercase;
}

.containerPort {
	display: inline-block;
}

.containerPort a {
	text-decoration: none;
}

.containerPort h1 {
	margin: 0px;
	padding: 0px;
}
.imgTimer{
	width: 300px;
	height: 180px;
	background-image: url('../img/timer.png');
	background-size: 100%;
	border-radius: 10px;
	margin: 0px 15px 15px 0px;
}

.imgImc {
	width: 300px;
	height: 180px;
	background-image: url('../img/imc.png');
	background-size: 100% ;
	border-radius: 10px;
	margin: 0px 15px 15px 0px;
}

.imgContador {
	width: 300px;
	height: 180px;
	background-image: url('../img/contador.png');
	background-size: 100%;
	border-radius: 10px;
	margin: 0px 15px 15px 0px;
}

.imgTabuada {
	width: 300px;
	height: 180px;
	background-image: url('../img/tabuada.png');
	background-size: 100%;
	border-radius: 10px;
	margin: 0px 15px 15px 0px;
}

.imgHorarioDia {
	width: 300px;
	height: 180px;
	background-image: url('../img/horariodia.png');
	background-size: cover;
	border-radius: 10px;
	margin: 0px 15px 15px 0px;
}

.imgVetor {
	width: 300px;
	height: 180px;
	background-image: url('../img/vetor.png');
	background-size: cover;
	border-radius: 10px;
	margin: 0px 15px 15px 0px;
}

.blackbox {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.651);
	opacity: 0;
}

.blackboxTitulo {
	text-align: center;
	color: #5af88a;
	padding: 70px 0px 0px 0px;
}

.blackboxTitulo h1 {
	font-size: 25px;
	font-family: 'Orbitron', sans-serif;
}

.blackbox:hover {
	opacity: 1;
	transition: 0.5s;
}



/********************************************************************/
/********************************************************************/
/********************************************************************/

.divCurricular {
	font-size: 12px;
	font-family: 'Nunito Sans', sans-serif;
	padding: 0px 20px 0px 20px;
	margin: 0px 0px 0px 0px;
	color: #ffffff;
	text-shadow: 1.1px 2.1px 5.5px black;
}

.imgCurriculo img {
	margin: 0px 20px 0px 20px;
	float: left;
	border-radius: 10px;
	box-shadow: 1.1px 2.1px 5.5px black;
	width: 140px;
	height: 180px;
}

.divCurricular span {
	color: #5af88a;
	font-weight: bold;
	text-shadow: 1.1px 2.1px 5.5px black;
}

.divCurricular ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.divCurricular li {
	margin: 10px 20px 30px 20px;
	font-size: 18px;
	text-align: justify;
	font-weight: bold;
}

.divCurricular h1 {
	text-align: left;
	margin: 0px 0px 20px 0px;
	padding: 50px 0px 0px 0px;
	color: #5af88a;
	font-family: 'Krona One', sans-serif;
	font-weight: bold;
	text-shadow: 1.1px 2.1px 5.5px black;
}

.caracProf img {
	max-width: 70%;
	height: 70%;
	margin-bottom: 150px;
	border-radius: 20px;
	box-shadow: 1.1px 2.1px 5.5px rgba(0, 0, 0, 0.534);
}

.divCurricular a {
	font-size: 15px;
	color: #5af88a;
}

/*****************************************************************/
/*****************************************************************/
/*****************************************************************/

.containerVideo {
	text-align: center;
}

.conteudoVideo iframe {
	margin-top: 130px;
	width: 90%;
	border-radius: 10px;
}

.tituloVideo1 {
	font-size: 20px;
	margin: 20px;
	color: #5af88a;
	text-align: center;
	text-shadow: 1.1px 2.1px 5.5px black;
}

.tituloVideo2 {
	font-size: 20px;
	margin: 20px;
	color: #5af88a;
	text-align: center;
	text-shadow: 1.1px 2.1px 5.5px black;
}

/****************************************************************/
/****************************************************************/
/****************************************************************/

.contatoOuter1 {
	background-image: url('../img/insta.png');
	background-position: center;
	background-size: contain;
	width: 80px;
	display: inline-block;
}

.contatoOuter2 {
	background-image: url('../img/fb.png');
	background-position: center;
	background-size: contain;
	width: 80px;
	display: inline-block;
}

.contatoOuter3 {
	background-image: url('../img/yt.png');
	background-position: center;
	background-size: contain;
	width: 80px;
	display: inline-block;
}

.contatoOuter4 {
	background-image: url('../img/ld.png');
	background-position: center;
	background-size: contain;
	width: 80px;
	display: inline-block;
}

.contatoOuter5 {
	background-image: url('../img/github140.png');
	background-position: center;
	background-size: contain;
	width: 80px;
	display: inline-block;
}

.blackboxContato {
	width: 80px;
	height: 80px;


}

.blackboxContato:hover {
	background-color: rgba(0, 0, 0, 0.514);
	width: 80px;
	height: 80px;
	transition: 0.1s;
	border-radius: 15px
}

.conteudoContato {
	Margin-top: 0px;
	padding-top: 200px;
	text-align: center;
}

.conteudoContato h1 {
	margin: 0px 40px 40px 40px;
	font-size: 50px;
	color: white;
	text-shadow: 1.1px 2.1px 5.5px black;
}

.conteudoContato span {
	color: #5af88a;
	text-shadow: 1.1px 2.1px 5.5px black;
}

/*******************************************************************/
/*******************************************************************/
/*******************************************************************/

footer {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	font-size: 15px;
	color: white;
	font-style: italic;
}

/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/

/*******************************************************************/

/*******************************************************************/

/*******************************************************************/

/*******************************************************************/

/*******************************************************************/

/*******************************************************************/

/*******************************************************************/

@keyframes movimentoNavi {
	0% {
		opacity: 0;
		transform: translate(1000px, 0px)
	}
	50% {
		opacity: 0;
		transform: translate(0px, 0px)
	}
	100% {
		opacity: 100
	}
}

@keyframes movimentoMenuJs {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100
	}
}

@keyframes movimentoCapa {
	0% {
		transform: translate(0px, -50px);
		opacity: 0
	}
	100% {
		transform: translate(0px, 0px);
		opacity: 100
	}
}

@keyframes movimentoTitulo {
	0% {
		transform: translate(20px, 50px);
		opacity: 0
	}
	100% {
		transform: translate(0px, 0px);
		opacity: 100
	}
}

@keyframes movimentoCorpoD-E {
	0% {
		transform: translate(15px, 0px);
		opacity: 0
	}
	100% {
		transform: translate(0px, 0px);
		opacity: 100%
	}
}

@keyframes movimentoCorpoB-C {
	0% {
		transform: translate(0px, 15px);
		opacity: 0
	}
	100% {
		transform: translate(0px, 0px);
		opacity: 100%
	}
}

@media (max-width: 800px) {

	html,
	body {
		margin: 0px;
		padding: 0px;
		font-size: 0px;
		background-color: #191919;
	}
	.navi li{
		color: #5af88a;
		display: none;
	}

	#threeLineIcon {
		color: #5af88a;
		border-bottom: none;
		text-align: right;
		display: block;
		margin: 0px 20px 0px 0px;
		font-size: 30px;
	}
	#threeLineIcon:hover{
		cursor:pointer;
	}
	#threeLineIcon a{
		color: #5af88a;
		text-decoration: none;
	}
	.menuJs {
		text-align: center;
		height: auto;
		margin: 0px;
		padding: 0px;
	}

	.menuJs ul {
		text-align: center;
		height: auto;
		padding: 0px 80px 0px 80px;

		animation-name: movimentoMenuJs;
		animation-duration: 2s;
	}

	.menuJs li {
		text-align: center;
		border-bottom: solid gray 2px;
		display: block;
		font-family: 'Orbitron', sans-serif;
		font-size: 13px;
		width: 100%;
		margin: 20px 0px 0px 0px;
		padding: 0px;
	}

	.menuJs a {
		color: #5af88a;
		text-decoration: none;
	}

	.menuJs a:hover {
		color: #191919;
		text-shadow: 2px 2px 2px #5af88a;
		border-radius: 5px;
		transition: 0.2s;
	}

	.conteudo {
		display: block;
		text-align: center;
		width: 100%;
		height: 100%;
		margin: 80px 0px;
		padding: 0px;
	}

	.imagemcapa {
		text-align: center;
		display: block;
		width: 100%;
		height: 300px;
		margin: 0px;
		padding: 0px;
	}

	.imagemcapa img {
		width: 280px;
		border-radius: 100%;
		margin: 0px;
		padding: 0px;
		/*******************************************************************************************************/
		animation-name: movimentoCapa;
		animation-duration: 2s;
	}

	.titulocapa {
		max-width: 100%;
		color: white;
		margin: 0px 0px;
		padding: 0px;
		/*******************************************************************************************************/
		animation-name: movimentoTitulo;
		animation-duration: 2s;
	}

	.titulocapa span {
		display: block;
		color: #5af88a;
		margin: 0px;
		padding: 0px;
	}

	.titulocapa h1 {
		font-size: 20px;
		text-align: center;
		font-family: 'Krona One', sans-serif;
		text-transform: uppercase;
	}

	.titulocapa h2 {
		font-size: 10px;
		text-align: center;
		font-family: 'Orbitron', sans-serif;
		text-transform: uppercase;
	}

	/**************************************************************/
	/**************************************************************/
	/**************************************************************/

	.quadro {
		text-align: center;
		background-color: #ffffff00;
		width: 100%;
		margin: 0 auto;
		height: fit-content;
		text-align: center;






		animation-name: movimentoCorpoD-E;
		animation-duration: 1s;
	}

	/***************************************************************/
	/***************************************************************/
	/***************************************************************/

	.tituloCorpo {
		margin: 70px 0px 70px 0px;
		font-size: 15px;
		color: #5af88a;
		text-shadow: 1.1px 2.1px 5.5px black;
		font-family: 'Orbitron', sans-serif;
		text-transform: uppercase;
	}

	.containerPort {
		display: inline-block;
	}

	.containerPort a {
		text-decoration: none;
	}

	.containerPort h1 {
		margin: 0px;
		padding: 0px;
	}

	.imgTimer{
		width: 300px;
		height: 180px;
		background-image: url('../img/timer.png');
		background-size: 100%;
		border-radius: 10px;
		margin: 0px 15px 15px 0px;
	}
	
	.imgImc {
		width: 300px;
		height: 180px;
		background-image: url('../img/imc.png');
		background-size: 100% ;
		border-radius: 10px;
		margin: 0px 15px 15px 0px;
	}
	
	.imgContador {
		width: 300px;
		height: 180px;
		background-image: url('../img/contador.png');
		background-size: 100%;
		border-radius: 10px;
		margin: 0px 15px 15px 0px;
	}
	
	.imgTabuada {
		width: 300px;
		height: 180px;
		background-image: url('../img/tabuada.png');
		background-size: 100%;
		border-radius: 10px;
		margin: 0px 15px 15px 0px;
	}
	
	.imgHorarioDia {
		width: 300px;
		height: 180px;
		background-image: url('../img/horariodia.png');
		background-size: cover;
		border-radius: 10px;
		margin: 0px 15px 15px 0px;
	}
	
	.imgVetor {
		width: 300px;
		height: 180px;
		background-image: url('../img/vetor.png');
		background-size: cover;
		border-radius: 10px;
		margin: 0px 15px 15px 0px;
	}
	
	.blackbox {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.651);
		opacity: 0;
	}
	
	.blackboxTitulo {
		text-align: center;
		color: #5af88a;
		padding: 70px 0px 0px 0px;
	}

	.blackboxTitulo h1 {
		font-size: 25px;
		font-family: 'Orbitron', sans-serif;
	}

	.blackbox:hover {
		opacity: 1;
		transition: 0.5s;
	}

	/***********************************************************/
	/***********************************************************/
	/***********************************************************/

	.divCurricular {
		padding: 50px 10px 0px 0px;
		margin: 0px;
		font-family: 'Nunito Sans', sans-serif;
		font-size: 8px;
		color: #ffffff;
		text-align: left;
		text-shadow: 1.1px 2.1px 5.5px black;
	}

	.imgCurriculo img {
		margin: 20px 10px 0px 30px;
		width: 120px;
		float: right;
		border-radius: 20px;
		box-shadow: 1.1px 2.1px 5.5px black;
	}

	.divCurricular span {
		color: #5af88a;
		font-weight: bold;
		text-shadow: 1.1px 2.1px 5.5px black;
	}

	.divCurricular ul {
		padding: 20px 10px 80px 0px;
		margin: 0px;
		list-style: none;

	}

	.divCurricular li {
		margin: 10px 20px 20px 10px;
		padding: 0px;
		font-size: 12px;
		text-align: justify;
	}

	.divCurricular h1 {
		padding: 20px 0px 10px 0px;
		margin: 0px;
		text-align: center;
		color: #5af88a;
		font-family: 'Orbitron', sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 1.1px 2.1px 5.5px black;
	}

	.divCurricular h2 {
		text-align: center;
		font-size: 15px;
	}

	.caracProf img {
		padding: 0px;
		margin: 0px;
		width: 400px;
		border-radius: 20px;
		box-shadow: 1.1px 2.1px 5.5px rgba(0, 0, 0, 0.534);
	}

	.divCurricular a {
		font-size: 15px;
		color: #5af88a;
	}

	/**************************************************************/
	/**************************************************************/
	/**************************************************************/

	.containerVideo {
		text-align: center;
	}

	.conteudoVideo iframe {
		margin-top: 130px;
		width: 320px;
		height: 180px;
		border-radius: 10px;
	}

	.tituloVideo1 {
		font-size: 10px;
		margin: 25px;
		color: #5af88a;
		text-align: center;
		text-shadow: 1.1px 2.1px 5.5px black;
		font-family: 'Orbitron', sans-serif;
		text-transform: uppercase;
	}

	.tituloVideo2 {
		font-size: 10px;
		margin: 25px;
		color: #5af88a;
		text-align: center;
		text-shadow: 1.1px 2.1px 5.5px black;
		font-family: 'Orbitron', sans-serif;
		text-transform: uppercase;
	}

	/*************************************************************/
	/*************************************************************/
	/*************************************************************/

	.contatoOuter1 {
		background-image: url('../img/insta.png');
		background-position: center;
		background-size: contain;
		width: 40px;
		height: 40px;
		display: inline-block;
	}

	.contatoOuter2 {
		background-image: url('../img/fb.png');
		background-position: center;
		background-size: contain;
		width: 40px;
		height: 40px;
		display: inline-block;
	}

	.contatoOuter3 {
		background-image: url('../img/yt.png');
		background-position: center;
		background-size: contain;
		width: 40px;
		height: 40px;
		display: inline-block;
	}

	.contatoOuter4 {
		background-image: url('../img/ld.png');
		background-position: center;
		background-size: contain;
		width: 40px;
		height: 40px;
		display: inline-block;
	}

	.contatoOuter5 {
		background-image: url('../img/github140.png');
		background-position: center;
		background-size: contain;
		width: 40px;
		height: 40px;
		display: inline-block;
	}

	.blackboxContato {
		width: 40px;
		height: 40px;
	}

	.blackboxContato:hover {
		background-color: rgba(0, 0, 0, 0.514);
		width: 40px;
		height: 40px;
		transition: 0.1s;
		border-radius: 6px;

	}

	.conteudoContato {
		Margin-top: 0px;
		padding-top: 200px;
		text-align: center;
	}

	.conteudoContato h1 {
		margin: 0px 40px 40px 40px;
		font-size: 18px;
		color: white;
		text-shadow: 1.1px 2.1px 5.5px black;
		font-family: 'Orbitron', sans-serif;
		text-transform: uppercase;
	}

	.conteudoContato span {
		color: #5af88a;
		text-shadow: 1.1px 2.1px 5.5px black;
	}

	/**************************************************************/
	/**************************************************************/
	/**************************************************************/

	footer {
		padding-top: 200px;
		padding-bottom: 200px;
		text-align: center;
		font-size: 15px;
		color: white;
		font-style: italic;
	}


}