@keyframes movimentoCapa{
	0% {transform: translate(0px,-50px);
	opacity:0};
	100% {transform: translate(0px,0px);
	opacity:100};
}
@keyframes movimentoTitulo{
	0% {transform: translate(20px,50px);
	opacity:0};
	100% {transform: translate(0px,0px);
	opacity:100};
}
@keyframes movimentoNavi{
	0% {opacity:0; transform: translate(1000px,0px)};
	50%{opacity:0; transform: translate(0px,0px)};
	100% {opacity:100};
}
@keyframes movimentoCorpoD-E{
	0% {transform: translate(15px,0px);
	opacity: 0};
	100% {transform: translate(0px,0px);
	opacity: 100%};
}
@keyframes movimentoCorpoB-C{
	0% {transform: translate(0px,15px);
	opacity: 0};
	100% {transform: translate(0px,0px);
	opacity: 100%};
}
@media only screen and (max-width:350px){
	h1{
		font-size: 50%;
	}
}




































html,
body {
	margin: 0px;
	padding: 0px;
	font-size:60%;
	background-color: #191919;
	height:100%;
	width:100%;
	background-image: url(../img/body.jpg);
	background-size:cover;

}
.navi {
	background-color:#191919;
	background-image: url(../img/body.jpg);
	background-size: cover;
	width:0 auto;
}
.navi ul {
	list-style: none;
	text-align: right;






	animation-name: movimentoNavi;
	animation-duration: 2s;
}
.navi li {
	display: inline-block;
}
.navi h1 {
	font-family: 'Big Shoulders Display', cursive;
	font-size: 350%;
	margin-right:15px;
	font-weight:lighter;
	white-space: nowrap;
}
.navi a{
	text-decoration: none;
	color: #ffffff4f;
}
.navi a:hover{
	color: #191919;
	text-shadow: 2px 2px 2px #5af88a;
	border-radius: 5px;
	transition: 0.2s;
}
.conteudo {
	text-align:center;
	margin-top:120px;
	margin-left:100px;
}
.imagemcapa {
	text-align:center;
	display: inline-block;
	width:50%;
	
	
}
.imagemcapa img {
	max-width: 80%;
	border-radius: 200px;




	


	animation-name: movimentoCapa;
	animation-duration: 2s;
}
.titulocapa {
	display: inline-block;
	width: 46%;
	color: white;
	vertical-align:bottom;
	padding-bottom:120px;
	padding-left:40px;
	
	
	




	animation-name: movimentoTitulo;
	animation-duration: 2s;
}
.titulocapa span {
	color: #5af88a;
	display: block;
}
.titulocapa h1 {
	font-family: 'Krona One', sans-serif;
	text-transform: uppercase;
	text-align: left;
	margin-left:-100px;
	font-size:600%;
}
.titulocapa h2 {
	font-family: 'Krona One', sans-serif;
	font-size: 300%;
	text-align: left;
	margin-left:-100px;
}




















































.quadro{
	text-align:center;
	background-color:#4e4d4dce;
	width:fit-content;
	border-left: 5px solid #757575;
	box-shadow: 1.1px 2.1px 5.5px black;
	
	
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	margin: 0 auto;
	height: max-content;





	animation-name: movimentoCorpoD-E;
	animation-duration: 1s;
}





















































.tituloCorpo {
	padding-left:0px;
	padding-bottom:60px;
	padding-top:120px;
	margin-top:0px;
	font-size:20pt;
	color:#5af88a;
	text-shadow: 1.1px 2.1px 5.5px black;

	font-family: 'Krona One', sans-serif;
	text-transform: uppercase;
}
.listaPort{









	animation-name: movimentoCorpoB-C;
	animation-duration:1s;
}
.listaPort li{
	padding-left:0px;
	display:inline-table;
}
.containerPort{
	display: inline-table;
	width:250px;
	vertical-align:middle;
	padding-bottom:5px;
}
.containerPort a{
	text-decoration: none;
}
.imgContador{
	width: 75%;
	height: 150px;
	background-image: url('../img/contador.png');
	background-position: top;
	background-size:cover;
	border-radius:10px;
	margin-top: 50px;
}
.imgTabuada{
	width: 75%;
	height: 150px;
	background-image: url('../img/tabuada.png');
	background-position: top;
	background-size: cover;
	border-radius:10px;
	margin-top: 50px;
}
.imgHorarioDia{
	width: 75%;
	height: 150px;
	background-image: url('../img/horariodia.png');
	background-position: top;
	background-size: cover;
	border-radius:10px;
	margin-top: 50px;
}
.imgVetor{
	width: 75%;
	height: 150px;
	background-image: url('../img/vetor.png');
	background-position: top;
	background-size: cover;
	border-radius:10px;
	margin-top: 50px;
}
.blackbox{
	width: 100%;
	height: 100%;
	border-radius:10px;
	font-size:0px;
}
.blackbox:hover{
	background-color: rgba(0, 0, 0, 0.651);
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.blackboxTitulo{
	padding-top:20%;
	padding-bottom:25%;
	font-weight:500;
	color:#5af88a;
	width:100%;
	height:100%;
}
.blackboxTitulo:hover{
	font-size:25px;
	font-family:'Nunito Sans', sans-serif;
	font-weight:bolder;
	
	
}





















































.hrCurriculo{
	width:0 auto;
	margin-left:0px;	
}
.divCurricular{
	max-width:fit-content;
	font-family: 'Nunito Sans', sans-serif;
	padding: 120px 20px 80px 20px;
	font-size: 150%;
	color: #ffffff;
	text-align: justify;
	text-shadow: 1.1px 2.1px 5.5px black;	
}
.imgCurriculo img{
	width: 0 auto;
	float:right;
	text-align:center;
	margin-left: 10px;
	border-radius:20px;
	box-shadow: 1.1px 2.1px 5.5px black;
}
.divCurricular span{
	color: #5af88a;
	font-weight:bold;
	text-shadow: 1.1px 2.1px 5.5px black;
}
.divCurricular ul{
	margin-left:-30px;
	margin-bottom: 70px;
	list-style:none;

}
.divCurricular li{
	margin-bottom: 50px;
	font-size: 150%;
	text-align: justify;
	font-weight:bold;
}
.divCurricular h1{
	text-align:left;
	color: #5af88a;
	font-family: 'Krona One', sans-serif;
	font-weight:bold;
	text-shadow: 1.1px 2.1px 5.5px black;
}
.caracProf img{
	max-width: 70%;
	height: 70%;
	margin-bottom: 150px;
	border-radius:20px;
	box-shadow: 1.1px 2.1px 5.5px rgba(0, 0, 0, 0.534);
}
.divCurricular a{
	font-size: 15px;
	color:#5af88a;
}
























































.containerVideo{
	text-align: center;
}
.conteudoVideo iframe{
	margin-top: 130px;
	width:90%;
	border-radius:10px;
}
.tituloVideo1{
	margin:20px;
	font-size: 20px;
	color: #5af88a;
	text-align:center;
	text-shadow: 1.1px 2.1px 5.5px black;
}
.tituloVideo2{
	font-size: 320%;
	margin:20px;
	color: #5af88a;
	text-align:center;
	text-shadow: 1.1px 2.1px 5.5px black;
}






















































.contatoOuter1{
	background-image: url('../img/insta.png');
	background-position:center;
	background-size:cover;
	width:10%;
	padding-bottom:10%;
	display:inline-block;
}
.contatoOuter2{
	background-image: url('../img/fb.png');
	background-position:center;
	background-size:cover;
	width:10%;
	padding-bottom:10%;
	display:inline-block;
}
.contatoOuter3{
	background-image: url('../img/yt.png');
	background-position:center;
	background-size:cover;
	width:10%;
	padding-bottom:10%;
	display:inline-block;
}
.contatoOuter4{
	background-image: url('../img/ld.png');
	background-position:center;
	background-size:cover;
	width:10%;
	padding-bottom:10%;
	display:inline-block;
}
.contatoOuter5{
	background-image: url('../img/github140.png');
	background-position:center;
	background-size:cover;
	width:10%;
	padding-bottom:10%;
	display:inline-block;
}
.blackboxContato{
	width:100%;
	height:100%;
	border-radius:25px;
}
.blackboxContato:hover{
	background-color: rgba(0, 0, 0, 0.411);
	width:100%;
	height: 100%;
	transition:0.5s;
}
.conteudoContato{
	Margin-top: 0px;
	padding-top: 200px;
	text-align: center;
}
.conteudoContato h1{
	margin: 40px 40px 40px 40px;
	font-size: 550%;
	color: white;
	text-shadow: 1.1px 2.1px 5.5px black;
}
.conteudoContato span{
	color: #5af88a;
	text-shadow: 1.1px 2.1px 5.5px black;
}


























































footer{
	padding-top:200px;
	padding-bottom:200px;
	text-align:center;
	font-size: 15px;
	color:white;
	font-style: italic;
}