body{
    text-align:center;
    background-color: rgb(0, 0, 0);
}
h1{
    margin-top:80px;
    color: white;
    font-size: 30pt;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);






    animation-name: movimentoTitulo;
    animation-duration: 1s;
}
.quadro{
    padding-top:50px;
    margin:auto;
    background-color: white;
    width:400px;
    height:400px;
    border-radius:15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);





    animation-name: opening;
    animation-duration: 1s;
}
img{    
    width:200px;
    border-radius: 200px;
}
footer{
    color: white;
    font-style: italic;
}


@keyframes movimentoTitulo{
	0% {transform: translate(20px,50px);
	opacity:0};
	100% {transform: translate(0px,0px);
	opacity:100};
}

@keyframes opening{
    0% {transform: scale(1,1.2)};
    100%{transform: scale(1)};
}