body{
    background-color:rgb(111, 185, 255);
}
h1{
    margin-top:100px;
    color:white;
    font-size:30pt;
    text-align:center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.521);





    animation-name: movimentoTitulo;
    animation-duration:1s;
}
section{
    border-radius:15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.507);
    padding: 15px 15px 15px 15px;
    text-align:center;
    margin:auto;
    background-color: white;
    width:300px;

    
    
    
    
    animation-name: opening;
    animation-duration: 1s;
}
#ini{
    width:150px;
}
#fim{
    width:180px;
}
#passo{
    width:165px;
}
#saida{
    font-weight:bold;
    padding-top:10px;
    padding-left: 15px;
    padding-right: 15px;
}
#buttonContar{
    margin-bottom:10px;
    width: 60px;
    font-size:10pt;
    font-weight:bold;
}
#limpa{
    margin-top:20px;
    font-weight: bold;
}

@keyframes opening{
    0%{transform: scale(1,1.2)};
    100%{transform: scale(1)};
}
@keyframes movimentoTitulo{
	0% {transform: translate(20px,50px);
	opacity:0};
	100% {transform: translate(0px,0px);
	opacity:100};
}